<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
  Ratings

  {% if session.get('user_id') != None %}
    <form action="/logout" method='POST'>
        <input type='submit' value='Log Out'>
    </form>
  {% else %}
    <form action="/login" method='POST'>
        <input type='submit' value='Login'>
    </form>
  {% endif %}


  <br>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>