{% extends 'base.html' %}
{% block content %}

<h1>{{ movie.title }}</h1>

<p>
    Release Date: {{ movie.released_at.strftime('%Y') }}
    <br>
    <a href="{{ movie.imdb_url }}">IMDB URL</a>
</p>

<h3>Ratings</h3>
<p>Average Rating: {{ '%0.1f'| format(average) }}</p>

<!-- check if user is signed in -->
{% if session.get('user_id') != None %}
    <!-- if user has rated movie, display their rating -->
    {% if user_rating %}
        <p>Your Rating: {{ user_rating.score }}</p>
    {% else %}
        <p>You have not yet rated this movie.</p>
    {% endif %}

        <form action="/rateit" method='POST'>
            <label >Rate this movie:
                <input type="radio" name="score" value="1">1
                <input type="radio" name="score" value="2">2
                <input type="radio" name="score" value="3">3
                <input type="radio" name="score" value="4">4
                <input type="radio" name="score" value="5">5
                <input type="hidden" name="movie_id" value="{{ movie.movie_id }}"
            </label>
            <input type="submit" value="Rate It!">
        </form>
{% endif %}

<h4>All Ratings:</h4>
    <ul>
    <!-- title and rating for every movie rated by User -->
        {% for rating in movie.ratings %}
        <li>
            {{ rating.score }}
        </li>
        {% endfor %}
    </ul>

{% endblock %}